<!DOCTYPE html>
<html lang="en">
<head>
  <title>JUGAL KISHORE GANDHESIRI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
.jumbotron {
  background-color: hwb(226 19% 67%); 
  color: #ffffff;
}
</style>
<body>

<div class="jumbotron">
  <h1 class="text-center">JUGAL KISHORE GANDHESIRI</h1>
  <p class="text-center">Looking for opprutinites in Data Engineering and Software Engineering</p>
</div>
<div class="col-md-12 text-center">

<button onclick="window.location.href='https://www.linkedin.com/in/jugal-kishore-jk/';" style="font-size:24px">Linkedin <i class="fa fa-linkedin-square"></i></button>
<button onclick="window.location.href='https://github.com/gandesirijugalkishore';" style="font-size:24px">Github <i class="fa fa-github-square"></i></button>

</div>
</body>
</html>